/* 최상단 이미지 */
/* .topBackgroundCSS_detail {
  background-image: url(../images/homebg.jpg);
  height: 35vh;
  background-size: 100%;
  background-attachment: fixed;
  background-position: top;

  animation-name: bgUp;
  animation-duration: 1s;
  animation-delay: 100ms;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bgUp {
  from {
    height: 35vh;
  }
  to {
    height: 0vh;
  }
} */

/* 컨텐츠 리스트 컨테이너 좌우여백, 반응형 */
.listDivPaddingCSS_detail {
  padding-top: 10%;
  padding-left: 25%;
  padding-right: 25%;
}
@media screen and (max-width: 1024px) {
  .listDivPaddingCSS_detail {
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* h1, h2 태그에 글자 크기 설정 */
h1 {
  font-size: larger;
  font-weight: bold;
}
h2 {
  font-size: large;
  font-weight: bold;
}
