.navMarginCSS {
  width: 100%;
}

.blueDivCSS {
  width: 100%;
  height: 100%;
}

.navScrolledCSS {
  background-image: url(../images/homebg.jpg);
  background-position: 10% 10%;
}

/* 가로가 80rem 이상이면 반응형 설정 */
@media screen and (min-width: 80rem) {
  .reactSizeCSS {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* ul 페이드업 애니메이션 */
@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.navUlCSS {
  animation: fadeInUp 0.3s;
}

.navNotScrolledCSS {
  background-color: transparent;
}

li a {
  /* 글자를 넘어 li 범위 전체에 링크 걸기 */
  display: block;
  /* 이미지 텍스트 수평배치 및 정렬 */
  display: flex;
  /* 줄 간격 설정 */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;

  align-items: center;
}

li a img {
  width: 10%;
  height: 10%;
  list-style-image: none;
  margin-right: 0.5rem;
}
