.bgImageCSS {
  background-image: url(../images/homebg.jpg);
}

/* 커서 깜빡임 애니메이션 */
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
}

.blinkAnimationCSS {
  animation: blink 1s steps(2, end) infinite;
  border-right: 0.2rem solid;
}

.titleCSS {
  transform: translate(-50%, -50%);
}

/* 둘러보기 애니메이션 */
@keyframes takeTour {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.takeTourCSS {
  animation: takeTour 0.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

/* 컨텐츠 목록 컨테이너 좌우여백, 반응형 */
.listDivPaddingCSS {
  padding-left: 15%;
  padding-right: 15%;
}
@media screen and (min-width: 80rem) {
  .listDivPaddingCSS {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@keyframes listAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* 반응형 정사각형. 아래 반응형들 줄일 수 있는지 알아보기 */
.squareIntro {
  position: relative;
  width: 30%;
  animation: listAnimation 0.6s;
  margin-bottom: 5%;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}
.squareIntro::before {
  display: block;
  content: "";
  background-image: url("../images/introduce.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top 80%;
  padding-bottom: 60%;
}
.squareIntro img {
  width: 100%;
  height: 100%;
}

/* 알고리즘 반응형 */
.squareAlgo {
  position: relative;
  width: 30%;
  animation: listAnimation 0.6s;
  margin-bottom: 5%;
  animation-fill-mode: backwards;
  animation-delay: 0.2s;
}
.squareAlgo::before {
  display: block;
  content: "";
  background-image: url("../images/algorithm.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top 80%;
  padding-bottom: 60%;
}
.squareAlgo img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 프론트엔드 반응형 */
.squareFront {
  position: relative;
  width: 30%;
  animation: listAnimation 0.6s;
  margin-bottom: 5%;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}
.squareFront::before {
  display: block;
  content: "";
  background-image: url("../images/frontend.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top 80%;
  padding-bottom: 60%;
}
.squareFront img {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* 지식 반응형 */
.squareKnow {
  position: relative;
  width: 30%;
  animation: listAnimation 0.6s;
  margin-bottom: 5%;
  animation-fill-mode: backwards;
  animation-delay: 0.4s;
}
.squareKnow::before {
  display: block;
  content: "";
  background-image: url("../images/knowledge.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top 80%;
  padding-bottom: 60%;
}
.squareKnow img {
  position: absolute;
  width: 100%;
  height: 100%;
}
