/* 최상단 이미지 */
.topBackgroundCSS_search {
  background-image: url(../images/homebg.jpg);
  height: 35vh;
  background-size: 100%;
  background-attachment: fixed;
  background-position: top;
}

/* 컨텐츠 리스트 컨테이너 좌우여백, 반응형 */
.listDivPaddingCSS_search {
  padding-left: 15%;
  padding-right: 15%;
}
@media screen and (min-width: 80rem) {
  .listDivPaddingCSS_search {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@keyframes listAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

/* 컨텐츠 리스트 테두리 */
.postDivCSS_search {
  position: relative;
  width: 30%;
  animation: listAnimation 0.6s;
  margin-bottom: 5%;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}
/* 컨텐츠 리스트 테두리 반응형 */
@media screen and (min-width: 50rem) {
  .postDivCSS_search {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* 컨텐츠 리스트 텍스트 반응형 */
@media screen and (max-width: 50rem) {
  .postsTextCSS_search {
    font-size: small;
    padding: 0%;
  }
}

/* 검색창 css */
.searchInputCSS_search {
  width: 25%;
  height: 100%;
}
.searchButtonCSS_search {
  height: 100%;
}
